<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">CENTRAL PLACEMENT CELL</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Coordinator Name</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">Coordinator Home</a></li>
          </ul>
        </header>
      </div>
      
      <main class="container">
        <div>
          <% rows.map((eachData) => { %>
            <% if (eachData.companyId == selectedcomp) { %>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column justify-content-center align-items-center">
                <strong class="d-inline-block mb-2 text-primary"><%= eachData.category %></strong>
                <h3 class="mb-0"><%= eachData.name %></h3>
                <div class="mb-1 text-body-secondary"><%= eachData.hqloc %></div>
                <p class="card-text mb-auto">Company Mail : <%= eachData.mail %></p>
                <p class="card-text mb-auto">HR name : <%= eachData.hrname %></p>
                <a href="http://localhost:4020/verifycompany" class="stretched-link">Go Back</a>
              </div>
            </div>
            <%}%>
            <% }) %>
          </div>
      </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>    
</body>
</html>